h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px blue;
  }
  
  .play-again {
    height: 0px;
    overflow: hidden;
  }
  .play-again.show {
    height: 40px;
    transition: 0.75s;
  }
  
  .play-again-btn {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 50%;
    background: lightcoral;
    color: white;
    text-decoration: none;
    opacity: 0.9;
  }
  .play-again-btn:hover,
  .play-again-btn:focus {
    background: #359660;
  }
  .play-again:hover {
    opacity: 1;
  }
  
  .gameboard {
    background-color: #00008B;
    border: 5px solid black;
    width: 765px;
    height: 570px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 85px);
    margin: auto;
  }
  
  .gameboard > div {
    border-radius: 50%;
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 10px;
    text-align: center;
    color: transparent;
    padding: 2px;
  }
  
  .gameboard > div:hover{
    opacity: 0.7;
  }
  
  button {
      margin: 20px auto 0
  }
  
  h3 {
    text-align: center;
  }